header {
  background-image: url(643068.png);
  background-size: cover;
}
.navbar{
  height: 15vh;
  opacity: 0.3;
}
.d-flex{
  height: 65vh;
}
p {
  text-align: justify;
}
.navbar-brand{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
